CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "jurusans" ("id_jurusan" integer primary key autoincrement not null, "nama_jurusan" varchar not null, "nama_kajur" varchar not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "nip" varchar, "nohp" varchar, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "role" varchar check ("role" in ('admin', 'wadir1', 'kaprodi', 'tim', 'dosen')) not null, "kode_prodi" varchar, "id_jurusan" integer, "status" varchar check ("status" in ('pending', 'approved')) not null default 'approved', "remember_token" varchar, "created_at" datetime, "updated_at" datetime, foreign key("kode_prodi") references "prodis"("kode_prodi") on delete cascade on update cascade, foreign key("id_jurusan") references "jurusans"("id_jurusan") on delete cascade on update cascade);
CREATE UNIQUE INDEX "users_nip_unique" on "users" ("nip");
CREATE UNIQUE INDEX "users_nohp_unique" on "users" ("nohp");
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE TABLE IF NOT EXISTS "tahun" ("id_tahun" integer primary key autoincrement not null, "nama_kurikulum" varchar not null, "tahun" varchar not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "profil_lulusans" ("id_pl" integer primary key autoincrement not null, "kode_pl" varchar not null, "kode_prodi" varchar not null, "id_tahun" integer not null, "deskripsi_pl" text not null, "profesi_pl" text not null, "unsur_pl" varchar check ("unsur_pl" in ('Pengetahuan', 'Keterampilan Khusus', 'Sikap dan Keterampilan Umum')) not null, "keterangan_pl" varchar check ("keterangan_pl" in ('Kompetensi Utama Bidang', 'Kompetensi Tambahan')) not null, "sumber_pl" text not null, "created_at" datetime, "updated_at" datetime, foreign key("kode_prodi") references "prodis"("kode_prodi") on delete cascade on update cascade, foreign key("id_tahun") references "tahun"("id_tahun") on delete cascade on update cascade);
CREATE TABLE IF NOT EXISTS "bahan_kajians" ("id_bk" integer primary key autoincrement not null, "kode_bk" varchar not null, "nama_bk" varchar not null, "deskripsi_bk" text, "referensi_bk" varchar, "status_bk" varchar check ("status_bk" in ('core', 'elective')) not null, "knowledge_area" text, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "cpl_bk" ("id_cpl" integer not null, "id_bk" integer not null, foreign key("id_cpl") references "capaian_profil_lulusans"("id_cpl") on delete cascade, foreign key("id_bk") references "bahan_kajians"("id_bk") on delete cascade);
CREATE TABLE IF NOT EXISTS "cpl_mk" ("id_cpl" integer not null, "kode_mk" varchar not null, foreign key("id_cpl") references "capaian_profil_lulusans"("id_cpl") on delete cascade on update cascade, foreign key("kode_mk") references "mata_kuliahs"("kode_mk") on delete cascade on update cascade);
CREATE TABLE IF NOT EXISTS "bk_mk" ("kode_mk" varchar not null, "id_bk" integer not null, foreign key("kode_mk") references "mata_kuliahs"("kode_mk") on delete cascade on update cascade, foreign key("id_bk") references "bahan_kajians"("id_bk") on delete cascade on update cascade);
CREATE TABLE IF NOT EXISTS "capaian_pembelajaran_mata_kuliahs" ("id_cpmk" integer primary key autoincrement not null, "kode_cpmk" varchar not null, "deskripsi_cpmk" text not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "cpl_cpmk" ("id_cpl" integer not null, "id_cpmk" integer not null, foreign key("id_cpl") references "capaian_profil_lulusans"("id_cpl") on delete cascade, foreign key("id_cpmk") references "capaian_pembelajaran_mata_kuliahs"("id_cpmk") on delete cascade);
CREATE TABLE IF NOT EXISTS "cpmk_mk" ("id_cpmk" integer not null, "kode_mk" varchar not null, foreign key("id_cpmk") references "capaian_pembelajaran_mata_kuliahs"("id_cpmk") on delete cascade, foreign key("kode_mk") references "mata_kuliahs"("kode_mk") on delete cascade);
CREATE TABLE IF NOT EXISTS "bobots" ("id_bobot" integer primary key autoincrement not null, "id_cpl" integer not null, "kode_mk" varchar not null, "bobot" integer not null, foreign key("id_cpl") references "capaian_profil_lulusans"("id_cpl") on delete cascade, foreign key("kode_mk") references "mata_kuliahs"("kode_mk") on delete cascade);
CREATE TABLE IF NOT EXISTS "notes" ("id_note" integer primary key autoincrement not null, "user_id" integer not null, "kode_prodi" varchar, "note_content" text not null, "title" varchar, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("kode_prodi") references "prodis"("kode_prodi") on delete cascade on update cascade);
CREATE TABLE IF NOT EXISTS "visi_misi" ("id" integer primary key autoincrement not null, "visi" text not null, "misi" text not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "visis" ("id" integer primary key autoincrement not null, "visi" text not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "misis" ("id" integer primary key autoincrement not null, "visi_id" integer not null, "misi" text not null, "created_at" datetime, "updated_at" datetime, foreign key("visi_id") references "visis"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "sub_cpmks" ("id_sub_cpmk" integer primary key autoincrement not null, "id_cpmk" integer not null, "sub_cpmk" varchar not null, "uraian_cpmk" text not null, "created_at" datetime, "updated_at" datetime, "kode_mk" varchar, foreign key("id_cpmk") references capaian_pembelajaran_mata_kuliahs("id_cpmk") on delete cascade on update no action, foreign key("kode_mk") references "mata_kuliahs"("kode_mk") on delete cascade);
CREATE TABLE IF NOT EXISTS "teknik_penilaian" ("id_teknik" integer primary key autoincrement not null, "nama_teknik" varchar not null, "kode_mk" varchar not null, "id_cpl" integer, "id_cpmk" integer, "bobot" integer not null default '0', "id_tahun" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("kode_mk") references "mata_kuliahs"("kode_mk") on delete cascade, foreign key("id_cpl") references "capaian_profil_lulusans"("id_cpl") on delete cascade, foreign key("id_cpmk") references "capaian_pembelajaran_mata_kuliahs"("id_cpmk") on delete cascade, foreign key("id_tahun") references "tahun"("id_tahun") on delete cascade);
CREATE TABLE IF NOT EXISTS "mahasiswas" ("id" integer primary key autoincrement not null, "nim" varchar not null, "nama_mahasiswa" varchar not null, "kode_prodi" varchar not null, "id_tahun_kurikulum" integer not null, "status" varchar check ("status" in ('aktif', 'lulus', 'cuti', 'keluar')) not null default 'aktif', "created_at" datetime, "updated_at" datetime, foreign key("kode_prodi") references "prodis"("kode_prodi") on delete cascade, foreign key("id_tahun_kurikulum") references "tahun"("id_tahun") on delete cascade);
CREATE UNIQUE INDEX "mahasiswas_nim_unique" on "mahasiswas" ("nim");
CREATE TABLE IF NOT EXISTS "skor_cpl_mahasiswa" ("id_skor" integer primary key autoincrement not null, "nim" varchar not null, "id_cpl" integer not null, "id_tahun" integer not null, "skor" double not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("nim") references "mahasiswas"("nim") on delete cascade, foreign key("id_cpl") references "capaian_profil_lulusans"("id_cpl") on delete cascade, foreign key("id_tahun") references "tahun"("id_tahun") on delete cascade);
CREATE TABLE IF NOT EXISTS "prodis" ("kode_prodi" varchar not null, "nama_prodi" varchar not null, "visi_prodi" text, "nama_kaprodi" varchar not null, "tgl_berdiri_prodi" date, "penyelenggaraan_prodi" date, "nomor_sk" varchar, "tanggal_sk" date, "peringkat_akreditasi" varchar, "nomor_sk_banpt" varchar, "jenjang_pendidikan" varchar not null, "gelar_lulusan" varchar, "telepon_prodi" varchar, "faksimili_prodi" varchar, "website_prodi" varchar, "email_prodi" varchar, "created_at" datetime, "updated_at" datetime, primary key ("kode_prodi"));
CREATE TABLE IF NOT EXISTS "capaian_profil_lulusans" ("id_cpl" integer primary key autoincrement not null, "kode_cpl" varchar not null, "deskripsi_cpl" text not null, "status_cpl" varchar, "created_at" datetime, "updated_at" datetime, "kode_prodi" varchar not null, "id_tahun" integer, foreign key("kode_prodi") references prodis("kode_prodi") on delete cascade on update no action, foreign key("id_tahun") references tahun("id_tahun") on delete set null on update no action);
CREATE TABLE IF NOT EXISTS "mata_kuliahs" ("kode_mk" varchar not null, "nama_mk" varchar not null, "jenis_mk" varchar, "sks_mk" integer not null, "semester_mk" varchar not null, "kompetensi_mk" varchar not null, "created_at" datetime, "updated_at" datetime, "kode_prodi" varchar, foreign key("kode_prodi") references prodis("kode_prodi") on delete cascade on update no action, primary key ("kode_mk"));
CREATE TABLE IF NOT EXISTS "dosen_mata_kuliah" ("id" integer primary key autoincrement not null, "user_id" integer not null, "kode_mk" varchar not null, "id_tahun" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("kode_mk") references "mata_kuliahs"("kode_mk") on delete cascade, foreign key("id_tahun") references "tahun"("id_tahun") on delete cascade);
CREATE UNIQUE INDEX "dosen_mata_kuliah_user_id_kode_mk_id_tahun_unique" on "dosen_mata_kuliah" ("user_id", "kode_mk", "id_tahun");
CREATE TABLE IF NOT EXISTS "nilai_mahasiswa" ("id_nilai" integer primary key autoincrement not null, "nim" varchar not null, "kode_mk" varchar not null, "id_teknik" integer, "id_cpl" integer, "id_cpmk" integer, "nilai" double not null default ('0'), "id_tahun" integer not null, "created_at" datetime, "updated_at" datetime, "user_id" integer, "nilai_akhir" double, foreign key("user_id") references users("id") on delete set null on update no action, foreign key("nim") references mahasiswas("nim") on delete cascade on update no action, foreign key("kode_mk") references mata_kuliahs("kode_mk") on delete cascade on update no action, foreign key("id_teknik") references teknik_penilaian("id_teknik") on delete cascade on update no action, foreign key("id_cpl") references capaian_profil_lulusans("id_cpl") on delete cascade on update no action, foreign key("id_cpmk") references capaian_pembelajaran_mata_kuliahs("id_cpmk") on delete cascade on update no action, foreign key("id_tahun") references tahun("id_tahun") on delete cascade on update no action);
